@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno: @ViewData["Aluno"]</p>
<p><strong>More information: </strong><a href="https://github.com/feliperangel64">Github</a></p>
